.about_me{
    justify-content: center;
    width: 70vw;
    color: white ;/*rgba(234, 240, 236, 0.986);*/
    margin: 2em;
}
.about_me p{
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2em;
}
@media (min-width:890px){
   .about_me{
       width: 49vw;
   }
   .about_me h2{
       margin-top: 10px;
   }

}
