.perfil_conteiner{
    width: 200px;
    position: absolute;
    justify-content: center;
    margin: 20px 0 5px 0 ;
}
.perfil{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   object-fit: cover;
   border: 5px solid black;
}